<mat-toolbar>
    <span>Dashboard Widget App</span>
    <span class="example-spacer"></span>
    <mat-form-field appearance="standard" class="date_field">
        <mat-label>Date from</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="from_date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="standard" class="date_field">
        <mat-label>Date to</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="to_date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="getData()">Get data</button>
</mat-toolbar>

<router-outlet></router-outlet>